* {
    border: 1px solid;

}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#finance-title {
    position:absolute;
    width: 100%;
    top: 0;
    text-align: center;
    margin-bottom: 200px;

}

section {
    width: 90%;
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
}

#income-section, #expense-section {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

 .container {
    height: 500px;
    margin-top: 10px;
}   

#income-field, #expense-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.income-total-container, .expense-total-container {
   justify-content: flex-end;
   margin: 5px;
   padding: 5px;
}

ul {
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

.input-group-mb-3 {
    border: 2px solid blue;

}

.list-group-item {
}

